<div data-dojo-attach-point="containerNode">
  <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListElement"
    data-dojo-props="target:'gmd:classify_subtopic'">

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeSpaceAttribute"></div>
    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListAttribute"
      data-dojo-props="value:'${codeListPrefix}classify_subtopic'"></div>

    <div data-dojo-type="esri/dijit/metadata/form/iso/CodeListValueAttribute">
      <div data-dojo-type="esri/dijit/metadata/form/InputSelectOne">
        <div data-dojo-type="esri/dijit/metadata/form/Options">
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'',value:''"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi1}',value:'topicnavi1'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi2}',value:'topicnavi2'"></div>      
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi3}',value:'topicnavi3'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi4}',value:'topicnavi4'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi5}',value:'topicnavi5'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi6}',value:'topicnavi6'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi7}',value:'topicnavi7'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi8}',value:'topicnavi8'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi9}',value:'topicnavi9'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnavi10}',value:'topicnavi10'"></div>
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnotams1}',value:'topicnotams1'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicnotams2}',value:'topicnotams2'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicbasemap1}',value:'topicbasemap1'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicbasemap2}',value:'topicbasemap2'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicbasemap3}',value:'topicbasemap3'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicbasemap4}',value:'topicbasemap4'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicbasemap5}',value:'topicbasemap5'"></div>                
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicbasemap6}',value:'topicbasemap6'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicbasemap7}',value:'topicbasemap7'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicterrain1}',value:'topicterrain1'"></div> 
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicterrain2}',value:'topicterrain2'"></div>  
          <div data-dojo-type="esri/dijit/metadata/form/Option"
            data-dojo-props="label:'${i18nIso.classifi_subtopic.topicterrain3}',value:'topicterrain3'"></div>    
        </div>
      </div>
    </div>

  </div>
</div>