<div data-dojo-attach-point="containerNode">

<div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'gmd:classify_business',minOccurs:1,maxOccurs:'unbounded',
      label:'${i18nIso.classifi_businessobjest.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/InputSelectMany"
      data-dojo-props="subTarget:'gmd:classify_metadatabusinesschecklist'">
      <div data-dojo-type="esri/dijit/metadata/form/MetadataBusinessclassificationTopic"></div>
    </div>
  </div>
</div>