<div data-dojo-attach-point="containerNode">

<div data-dojo-type="esri/dijit/metadata/form/Element"
    data-dojo-props="target:'gmd:classify_metadatachecklist',minOccurs:1,maxOccurs:'unbounded',
      label:'${i18nBase.metadataClassificationTopic.caption}'">
    <div data-dojo-type="esri/dijit/metadata/form/InputSelectMany"
      data-dojo-props="subTarget:'gmd:metadataClassificationTopic'">
      <div data-dojo-type="esri/dijit/metadata/form/MetadataClassificationTopic"></div>
    </div>
  </div>
</div>