<div data-dojo-attach-point="containerNode">

  <div data-dojo-type="esri/dijit/metadata/form/Tabs">
      
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/metadataEntity/MetadataChecklist"
      data-dojo-props="label:'${i18nIso.classificationSection.metadataTab.info}'"></div>
                                  
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/metadataEntity/DataRepresentation"
      data-dojo-props="label:'${i18nIso.classificationSection.metadataTab.business}'"></div>

    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/metadataEntity/ResourceLanguage"
      data-dojo-props="label:'${i18nIso.classificationSection.metadataTab.purpose}'"></div>
      
    <div data-dojo-type="esri/dijit/metadata/types/iso/gmd/metadataEntity/ResourceClassification"
      data-dojo-props="label:'${i18nIso.classificationSection.metadataTab.hierarchy}'"></div>

  </div>
  
</div>