<div data-dojo-attach-point="containerNode">
      
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataClassificationTopic.personalIdentifiableInformation}',
      value:'personalIdentifiableInformation'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataClassificationTopic.military}',
      value:'military'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataClassificationTopic.itar}',
      value:'itar'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataClassificationTopic.ear}',
      value:'ear'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataClassificationTopic.customerinfo}',
      value:'customerinfo'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataClassificationTopic.proprietary}',
      value:'proprietary'"></div>

</div>