<div data-dojo-attach-point="containerNode">
      
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataPurposeclassificationTopic.flight}',
      value:'flight'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataPurposeclassificationTopic.fpd}',
      value:'fpd'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataPurposeclassificationTopic.base}',
      value:'base'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataPurposeclassificationTopic.data}',
      value:'data'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataPurposeclassificationTopic.sales}',
      value:'sales'"></div>  
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataPurposeclassificationTopic.program}',
      value:'program'"></div>
    
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nBase.metadataPurposeclassificationTopic.nav}',
      value:'nav'"></div>


</div>