<div data-dojo-attach-point="containerNode">
      
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.aeroauthority}',
      value:'aeroauthority'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.airport}',
      value:'airport'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.comms}',
      value:'comms'"></div>    

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.construction}',
      value:'construction'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.deicing}',
      value:'deicing'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.landing}',
      value:'landing'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.lighting}',
      value:'lighting'"></div>    

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.minima}',
      value:'minima'"></div>
  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.noise}',
      value:'noise'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.parking}',
      value:'parking'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.surface}',
      value:'surface'"></div>    

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.taxiway}',
      value:'taxiway'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.guidance}',
      value:'guidance'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.hotspot}',
      value:'hotspot'"></div>

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.runway}',
      value:'runway'"></div>    

  <div data-dojo-type="esri/dijit/metadata/form/Option"
    data-dojo-props="label:'${i18nIso.classifi_businessobjest.smartnotes}',
      value:'smartnotes'"></div>      
</div>
